<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>URL</key>
    <dict>
      <key>USTVnow</key>
      <dict>
        <key>Identifier</key>
        <string>com.plexapp.plugins.ustvnow</string>
        <key>URLPatterns</key>
        <array>
          <string>http://m.ustvnow.com/iphone/1/live/viewlive(.*)</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>